
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 22, 170);
  padding: 2rem;

  
}
.navbar>span{
  padding-left: 30px;

}
.footer{
  text-align: center;
  margin-top: 60px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 3rem;
}
.form input{
  display: block;
  width: 25rem;
  height: 40px;
  margin-top: 1.5rem;
}
.form .submit{
  background-color: rgb(22, 22, 170);
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.form ::placeholder{
  font-size: 1rem;
}
.form>p{
  color: red;
}